version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    commit-message:
      prefix: "ci"
    cooldown:
      default-days: 7

  - package-ecosystem: "cargo"
    directories:
      - "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    commit-message:
      prefix: "workspace: "
    cooldown:
      default-days: 7
