on:
  push:
  pull_request:
  schedule:
    - cron: '11 15 * * *'
jobs:
  toolchain:
    strategy:
      fail-fast: false
      matrix:
        build:
          - runner: ubuntu-latest
            gnuarch: amd64
            ourarch: x86-64
          - runner: ubuntu-24.04-arm
            gnuarch: arm64
            ourarch: aarch64
    runs-on: ${{ matrix.build.runner }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SCCACHE_REGION: us-west-2
      SCCACHE_BUCKET: toolchain-tools-sccache
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v6

      # We run out of disk when compiling unless we do this.
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: true
          docker-images: false
          swap-storage: false

      - uses: extractions/setup-just@v3

      - name: Build LLVM GNU Toolchain
        run: |
          cd toolchain-bootstrap
          cat > secrets <<EOF
          export AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
          export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
          export SCCACHE_REGION=${SCCACHE_REGION}
          export SCCACHE_BUCKET=${SCCACHE_BUCKET}
          export SCCACHE_S3_USE_SSL=1

          export PARALLEL=8
          export PARALLEL_NINJA=8
          export NINJA_MAX_LOAD=12
          EOF

          just llvm-gnu-linux-${{ matrix.build.ourarch }}

      - uses: actions/upload-artifact@v6
        with:
          name: toolchain-linux-${{ matrix.build.ourarch }}
          path: |
            toolchain-bootstrap/build/llvm-gnu_only-*-unknown-linux-gnu.tar.zst
