on:
  push:
  pull_request:
  schedule:
    - cron: '11 15 * * *'
jobs:
  toolchain:
    runs-on: 'ubuntu-latest'
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SCCACHE_BUCKET: toolchain-tools-sccache
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v3

      - name: Install Earthly
        run: |
          wget https://github.com/earthly/earthly/releases/download/v0.6.23/earthly-linux-amd64 -O /usr/local/bin/earthly
          chmod +x /usr/local/bin/earthly
          /usr/local/bin/earthly bootstrap

          mkdir -p ~/.earthly
          cat > ~/.earthly/config.yml <<EOF
          global:
            buildkit_additional_args:
            - -e
            - BUILDKIT_STEP_LOG_MAX_SIZE=-1
            - -e
            - BUILDKIT_STEP_LOG_MAX_SPEED=-1
          EOF

      - name: Build LLVM GNU Toolchain
        run: |
          cd toolchain-bootstrap
          cat > .env <<EOF
          AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
          AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
          SCCACHE_BUCKET=${SCCACHE_BUCKET}
          SCCACHE_S3_USE_SSL=1
          PARALLEL=8
          EOF

          earthly +llvm-gnu-x86-64-linux

      - uses: actions/upload-artifact@v3
        with:
          name: toolchain
          path: toolchain-bootstrap/build/llvm-gnu-x86_64-linux.tar.zst
