on:
  push:
  pull_request:
  schedule:
    - cron: '11 15 * * *'
permissions: { }
jobs:
  toolchain:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - 'macos-15'
          - 'macos-15-intel'
    runs-on: ${{ matrix.runner }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SCCACHE_REGION: us-west-2
      SCCACHE_BUCKET: toolchain-tools-sccache
    steps:
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Build LLVM Toolchain
        run: |
          cd toolchain-bootstrap
          just llvm-apple-native

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: toolchain-${{ matrix.runner }}
          path: toolchain-bootstrap/build/llvm-*-apple-darwin.tar.zst
