on:
  push:
  pull_request:
  schedule:
    - cron: '11 15 * * *'
permissions: { }
jobs:
  toolchain:
    strategy:
      fail-fast: false
      matrix:
        build:
          - runner: ubuntu-latest
            gnuarch: amd64
            ourarch: x86-64
          - runner: ubuntu-24.04-arm
            gnuarch: arm64
            ourarch: aarch64
    runs-on: ${{ matrix.build.runner }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SCCACHE_REGION: us-west-2
      SCCACHE_BUCKET: toolchain-tools-sccache
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      # We run out of disk when compiling unless we do this.
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
        with:
          tool-cache: true
          docker-images: false
          swap-storage: false

      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Build LLVM GNU Toolchain
        run: |
          cd toolchain-bootstrap
          cat > secrets <<EOF
          export AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
          export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
          export SCCACHE_REGION=${SCCACHE_REGION}
          export SCCACHE_BUCKET=${SCCACHE_BUCKET}
          export SCCACHE_S3_USE_SSL=1

          export PARALLEL=8
          export PARALLEL_NINJA=8
          export NINJA_MAX_LOAD=12
          EOF

          just llvm-gnu-linux-${{ matrix.build.ourarch }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: toolchain-linux-${{ matrix.build.ourarch }}
          path: |
            toolchain-bootstrap/build/llvm-gnu_only-*-unknown-linux-gnu.tar.zst
